<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806895268594-vip4e91hhhrrt9e2ndgeaaca1lmqugu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806895268594-vip4e91hhhrrt9e2ndgeaaca1lmqugu9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>806895268594-v0o7qulv0smr887poc4cpqcm9c2ievmc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtdaIsAYKiPxIi4aHpOCwc0rBsR606vc4</string>
	<key>GCM_SENDER_ID</key>
	<string>806895268594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jagb.uberClone</string>
	<key>PROJECT_ID</key>
	<string>ubercloneflutter-6eef0</string>
	<key>STORAGE_BUCKET</key>
	<string>ubercloneflutter-6eef0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806895268594:ios:36b45639334a135ce6166b</string>
</dict>
</plist>